.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.thumbnail {
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}

.list {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.list-item {
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}